{% extends 'miblog/base.html' %}
{% block title %} Inicio {% endblock %}
{% block banner %} 
<h2> Blog Personal </h2>
{% endblock %}
{% block blogs%}
<div class="row">
    <div class="col">
      <br> <br>
      <h1 style="font-size: 50px;">Bienvenido a mi Blog :D</h1>
      <p style="font-size: 30px;">Hola visitante, soy Santiago, escritor de este blog,
        aquí podrás encontrar algunas de mis aficiones, siéntete libre de navegar en el :)
      </p>
    </div>
    <div class="col-md-auto align-self-center">
      <div class="card" style="width: 18rem;">
        {% load static %}
        <img class="card-img-top" src="{% static 'miblog/img/t.png' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Santiago Rozo</h5>
          <h6 class="card-subtitle mb-2 text-muted">Estudiante de Ingenieria de Sistemas</h6>
          <p class="card-text">Entusiasta de la Programación, el Pixel Art, los video juegos, y poco mas...</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}