{% extends 'miblog/base.html' %}
{% block title %} {{banner}} {% endblock %}
{% block banner %} 
<h2> {{banner}} </h2>
{% endblock %}
{% block blogs%}
{% if post %}
<div class="row">
    {% for pos in posts %}
    <div class="col-sm-6">
        <div class="card">
            <img class="card-img-top" src="{{pos.imagen}}">
            <div class="card-body">
            <h4 class="card-title"><a class="tituloRef" href="{% url 'miblog:post' pos.id %}">{{pos.titulo}}</a></h4>
            <h6 class="card-subtitle mb-2 text-muted">Categoria Programacion</h6>
            <p class="card-text">Escrito por {{pos.autor_nombre}} el {{pos.fecha_creacion}} </p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <h3>Post is not avaliable right now</h3>
{% endif %}
{% endblock %}
