a {
    color: rgb(255, 255, 255);
    padding: 10px 30px;
    /*border: 2px solid rgb(61, 196, 236);*/
    margin: 5px 20px 5px 40px;
    display: inline-block;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    transition: 0.5s;
    overflow: hidden;
    font-weight: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
a:hover{
    color: rgb(247, 49, 43);
    /*border: 2px solid rgb(26, 165, 230);*/
    border: none;
}
a:link, a:visited, a:active{
    text-decoration: none;
}

.navbar{
    background-color: rgb(43, 54, 58);
}

.sld{
    height: 160px; 
    background-color: rgb(43, 54, 58);
}

.sld .container #miform{
    margin: auto;
    width: 40%;
} 

.blogs{
    background-color: rgb(15, 15, 15);
}